NEXT_PUBLIC_SITE_URL=https://mirrorascent.com
NEXT_PUBLIC_COGNITO_HOSTED_UI_URL=
NEXT_PUBLIC_COGNITO_DOMAIN=
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=
NEXT_PUBLIC_APP_DOWNLOAD_URL=
NEXT_PUBLIC_ASCENT_PKCE_VERIFIER_STORAGE_KEY=ascent.pkceVerifier
NEXT_PUBLIC_ASCENT_OAUTH_STATE_STORAGE_KEY=ascent.oauthState
ASCENT_ACCESS_TOKEN_COOKIE_NAME=__Host-ascent_access
ASCENT_WEBSITE_API_URL=
NEXT_PUBLIC_ASCENT_WEBSITE_API_URL=
ASCENT_WEBSITE_API_TOKEN=
ASCENT_APPSYNC_GRAPHQL_ENDPOINT=
NEXT_PUBLIC_ASCENT_APPSYNC_GRAPHQL_ENDPOINT=
